<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/brandon-hoogenboom-ktBuvhjVTts-unsplash.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">ECONTRAR</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Tu buscador de coches sostenibles</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
       <!--<app-basicelements></app-basicelements>-->
       <!--<app-navigation></app-navigation>-->
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">¿Quiénes somos?</h2>
                        <p class="description">Econtrar es un proyecto que pretende informar al consumidor altruistamente sobre el impacto social y ambiental de los productos que consumimos. </p>
                        <h2 class="title">¿Cómo lo hacemos?</h2>
                        <p class="description">Mediante una metodología de ponderación de índices sociales y medioambiantales del ciclo completo de vida del producto.</p>
                        <h2 class="title">Nuestros objetivos</h2>
                    </div>


                    
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-world-2"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Contra el cambio climático</h4>
                                    <p class="description">Ponemos nuestros esfuerzos dirigidos a reforzar el modelo de economía circular y sostenibilidad ambiental en toda nuestra actividad.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-bulb-63"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Ideas transformadoras e innovadoras</h4>
                                    <p>Nuestra transformación y trabajo empieza con cualquier idea disruptiva de impacto social o mediambiental.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-single-02"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Comprometidos con las personas</h4>
                                    <p>Nuestro cometido social es tener en el centro a las personas, creando sinergias y comunidad que les permita crecer y transformar su entorno.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-mobile"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Aliados con las nuevas tecnologías</h4>
                                    <p>Estamos a la disposición de los avances tecnológicos sostenibles para nuestra escalibilidad y crecimiento. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12  col-sm-4 col-md-2 offset-md-1">
                        <h4 class="images-title">Equipo</h4>
                        <img src="assets/img/faces/pavazmo.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                        <p class="text-center"> Patricia Vazquez CEO</p>
                            <a rel="tooltip" title="Follow me on Twitter" href="https://twitter.com/pavazmor" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a rel="tooltip" title="Follow me on Linkedin" href="https://www.linkedin.com/in/patricia-vazquez-moreno-298019132/" target="_blank">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                    </div>
                    <div class="col-xs-12  col-sm-4 col-md-4 offset-md-1">
                        <p class="description-sentence">"We cannot solve our problems with the same thinking we used when we created them.”</p>
                        <p class="description"> Albert Einstein </p>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Gracias por tu interés, siguenos!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://twitter.com/Econtrar1" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
